# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# VS Code
.vscode/*.vsix # Packaged extensions
.vscode-test/ # VS Code test workspace
.vscode-insiders/

# Compiled output
dist/
out/

# Dependencies
# yarn.lock # Uncomment if you want to ignore yarn lock file
# package-lock.json # Uncomment if you want to ignore npm package lock file

# Environment variables
.env
.env.local

# Logs
*.log

# macOS
.DS_Store

# Other
*.bak
*.swp
*~

node_modules/
.vscode-test